_site
.sass-cache
.DS_Store
.jekyll-metadata
.jekyll-cache

# Ignore the config file that's used for gh-pages.
_config.gh-pages.yml

# Ignore the config file that's used for s3_website
s3_website.yml

# Ignore the virutalenv dir used for AWS python tools
_env27/

# Ignore the local bundle installation dir
.bundle/
