<img class="profile" src="/images/me.jpg" width="20%" />
<p>
  Terrance Kennedy (he/him) is a self-taught software engineer with over 10 years of experience,
  including 8 years DevOps experience and 3 years AWS experience.
</p>
<p>
  Terrance is a volunteer mentor at <a href="https://techtonica.org/">Techtonica</a>, a nonprofit
  company that helps women and non-binary adults start their careers in the tech industry.
</p>
<p>
  When he's not at the keyboard, he enjoys running, amateur radio, and cooking for friends and
  family. He's currently training for his first marathon in August 2022.
</p>
<p>
  You can follow him through the <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a>
  of this blog and on <a href="https://github.com/{{ site.github_username }}">GitHub</a>.
</p>
