<img class="profile" src="/images/me.jpg" width="20%" />
<p>
  Terrance Kennedy (he/him) is a self-taught software engineer with over 11 years of experience,
  including 9 years DevOps experience and 4 years AWS experience.
</p>
<p>
  When he's not at the keyboard, he enjoys running, building up his homelab, and cooking for friends and
  family. He's currently training for his first marathon in May 2023.
</p>
<p>
  You can follow him through the <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a>
  of this blog and on <a href="https://github.com/{{ site.github_username }}">GitHub</a>.
</p>
