<p>
  Terrance Kennedy (he/him) is a software engineer with over a decade of experience. He finds
  purpose in taking a humanistic approach to software design. Whether he's writing an
  application, API, library, or internal tool, he builds software with the goal of imparting
  success for the people who use it.
</p>
<p>
  When he's not at the keyboard, he enjoys running, woodworking, and cooking for friends and
  family. He's currently training for his first marathon in May of 2022.
</p>
<p>
  You can follow him through the <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a>
  of this blog and on <a href="https://github.com/{{ site.github_username }}">GitHub</a>.
</p>
